<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h1>List des produits :</h1>
        
        </div>
        <div class="col-lg-2 ms-auto-mt-2">
            <button class="btn btn-dark" routerLink="/dashboard/gestionproduits/ajout">ADD</button>
        </div>
    </div>

    <div class="row mt-5">
        <table class="table">
            <thead>
                <th>#</th>
                <th>nom</th>
                <th>description</th>
                <th>prix</th>
                <th>quantité</th>
                
                
            </thead>

            <tfoot>
                <th>#</th>
                <th>nom</th>
                <th>description</th>
                <th>prix</th>
                <th>quantité</th>
                
            </tfoot>

            <tbody>
                <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button  class="btn btn-warning">DELETE</button>
                        <button class="btn btn-info ms-2" >UPDATE</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>