<div class="leftside-menu">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a>



    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" class="side-nav-link" routerLink="/dashboard/gestionproduits">
                    <i class="uil-home-alt"></i>
                    <span> Dashboards </span>
                </a>

            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" class="side-nav-link" routerLink="/dashboard/gestionproduits">
                    <i class="uil-home-alt"></i>
                    <span> gestion Produits</span>
                </a>

            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" class="side-nav-link" routerLink="/dashboard/gestionutilisateurs">
                    <i class="uil-home-alt"></i>
                    <span> gestion Utilisateurs </span>
                </a>

            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" class="side-nav-link" routerLink="/dashboard/">
                    <i class="uil-home-alt"></i>
                    <span> gestion Livraisons </span>
                </a>

            </li>

        </ul>

    </div>
    <!-- Sidebar -left -->

</div>