  <!-- Begin page -->
  <div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
  
        <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <!-- Topbar Start -->
                <app-header></app-header>
            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">

                    <router-outlet></router-outlet>

                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- Footer Start -->
        <app-footer></app-footer>
        <!-- end Footer -->

    </div>

   
</div>
<!-- END wrapper -->